<%-include('partials/header') ; -%>

<form>
    <h2>Sign UP</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="text" name="email" required>
    <div class="password error"></div>
</form>

<%-include('partials/footer') ; -%>
